{% extends "base.html" %}

{% block text %}
<h4>那我们再来看看PM2.5降低最多的中国，我们国家在前几年确实因为PM2.5过多而闹得沸沸扬扬，现在经过整治得到这么好的结果不得不让人佩服，因为整治的原因所以我们的PM2.5是在逐年下降的，这是个好兆头，那么我们的GDP是不是也在逐年上涨呢？答案是“是的”，那回到最开始的问题一个国家要发展到什么地步国家才会有精力治理本国的环境问题呢？参考一下中国，和中国GDP相近的两条折线是中高等收入国家和中等收入国家，那让我们来看看中等收入国家的情况，森林覆盖率有稍稍的下降但PM2.5指数下降了很多，中低等收入国家的情况也会这样吗？看来是不行了，森林覆盖率和PM2.5指数都在不上不下的水平。所以基于以上的数据我认为一个国家要发展到人均GDP有5000美金每年国家才会有精力治理本国的环境问题。</h4>
{% endblock text %}

{% block figure %}
<div id="d5ecf7c10fc24f12b021fec485af234a" class="chart-container" style="width:900px; height:500px;"></div>
<script>
    var chart_d5ecf7c10fc24f12b021fec485af234a = echarts.init(
        document.getElementById('d5ecf7c10fc24f12b021fec485af234a'), 'white', {
            renderer: 'canvas'
        });
    var option_d5ecf7c10fc24f12b021fec485af234a = {
        "animation": true,
        "animationThreshold": 2000,
        "animationDuration": 1000,
        "animationEasing": "cubicOut",
        "animationDelay": 0,
        "animationDurationUpdate": 300,
        "animationEasingUpdate": "cubicOut",
        "animationDelayUpdate": 0,
        "color": [
            "#c23531",
            "#2f4554",
            "#61a0a8",
            "#d48265",
            "#749f83",
            "#ca8622",
            "#bda29a",
            "#6e7074",
            "#546570",
            "#c4ccd3",
            "#f05b72",
            "#ef5b9c",
            "#f47920",
            "#905a3d",
            "#fab27b",
            "#2a5caa",
            "#444693",
            "#726930",
            "#b2d235",
            "#6d8346",
            "#ac6767",
            "#1d953f",
            "#6950a1",
            "#918597"
        ],
        "series": [{
                "type": "bar",
                "name": "\u4e2d\u56fd",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    4550.453596,
                    5618.132490999999,
                    6316.918863,
                    7050.64592,
                    7651.366043999999,
                    8033.388043000001,
                    8078.790473999999
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "bar",
                "name": "\u5c3c\u65e5\u5229\u4e9a",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    2292.4451559999998,
                    2520.404166,
                    2746.991789,
                    2998.072843,
                    3222.693537,
                    2730.430324,
                    2175.99967
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "bar",
                "name": "\u4e16\u754c",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    9538.846778000001,
                    10473.62997,
                    10589.20847,
                    10764.19177,
                    10928.871159999999,
                    10217.656009999999,
                    10247.93623
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "bar",
                "name": "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    6344.152969,
                    7533.005862999999,
                    8009.525570999999,
                    8448.564499,
                    8651.290227,
                    8032.489459,
                    7921.734348000001
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "bar",
                "name": "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    1659.708394,
                    1845.6078670000002,
                    1907.1616149999998,
                    1962.132293,
                    2040.165511,
                    1995.940544,
                    2049.093225
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "bar",
                "name": "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    3916.58872,
                    4574.342688000001,
                    4823.5332020000005,
                    5050.445776,
                    5176.453636,
                    4850.346611999999,
                    4817.176095000001
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "bar",
                "name": "\u4f4e\u6536\u5165\u56fd\u5bb6",
                "xAxisIndex": 0,
                "yAxisIndex": 0,
                "data": [
                    638.2310085,
                    696.4949412999999,
                    733.2472295,
                    783.1790758,
                    822.2763324,
                    792.2081299,
                    737.9746147999999
                ],
                "barCategoryGap": "20%",
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u4e2d\u56fd",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        69.47957041
                    ],
                    [
                        "2011",
                        70.54202883
                    ],
                    [
                        "2012",
                        63.82701684
                    ],
                    [
                        "2013",
                        65.51455022
                    ],
                    [
                        "2014",
                        59.76736751
                    ],
                    [
                        "2015",
                        59.06342246
                    ],
                    [
                        "2016",
                        52.21132204
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u5c3c\u65e5\u5229\u4e9a",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        52.60906391
                    ],
                    [
                        "2011",
                        50.97308923
                    ],
                    [
                        "2012",
                        56.129637699999996
                    ],
                    [
                        "2013",
                        49.74068894
                    ],
                    [
                        "2014",
                        48.63337361
                    ],
                    [
                        "2015",
                        75.39899187
                    ],
                    [
                        "2016",
                        71.369601
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u4e16\u754c",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        50.24771686
                    ],
                    [
                        "2011",
                        50.76662896
                    ],
                    [
                        "2012",
                        47.528763
                    ],
                    [
                        "2013",
                        47.94310068
                    ],
                    [
                        "2014",
                        45.93925259
                    ],
                    [
                        "2015",
                        47.22561686
                    ],
                    [
                        "2016",
                        45.1507745
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        49.41776161
                    ],
                    [
                        "2011",
                        49.87393806
                    ],
                    [
                        "2012",
                        45.97739278
                    ],
                    [
                        "2013",
                        46.57975482
                    ],
                    [
                        "2014",
                        42.979937299999996
                    ],
                    [
                        "2015",
                        42.71493487
                    ],
                    [
                        "2016",
                        38.57786739
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        67.27958551
                    ],
                    [
                        "2011",
                        67.7944635
                    ],
                    [
                        "2012",
                        63.31200554
                    ],
                    [
                        "2013",
                        64.01195075
                    ],
                    [
                        "2014",
                        62.65168718
                    ],
                    [
                        "2015",
                        64.84786016
                    ],
                    [
                        "2016",
                        63.89591152
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        58.6772891
                    ],
                    [
                        "2011",
                        59.19966251
                    ],
                    [
                        "2012",
                        55.03076053
                    ],
                    [
                        "2013",
                        55.71529039
                    ],
                    [
                        "2014",
                        53.32300771
                    ],
                    [
                        "2015",
                        54.38996564
                    ],
                    [
                        "2016",
                        51.97482792
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            },
            {
                "type": "line",
                "name": "\u4f4e\u6536\u5165\u56fd\u5bb6",
                "connectNulls": false,
                "xAxisIndex": 1,
                "yAxisIndex": 1,
                "symbolSize": 4,
                "showSymbol": true,
                "smooth": false,
                "step": false,
                "data": [
                    [
                        "2010",
                        41.34219858
                    ],
                    [
                        "2011",
                        41.94446729
                    ],
                    [
                        "2012",
                        42.0768078
                    ],
                    [
                        "2013",
                        41.04672487
                    ],
                    [
                        "2014",
                        40.07027827
                    ],
                    [
                        "2015",
                        43.80431034
                    ],
                    [
                        "2016",
                        42.92042352
                    ]
                ],
                "hoverAnimation": true,
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                },
                "areaStyle": {
                    "opacity": 0
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "legend": [{
                "data": [
                    "\u4e2d\u56fd",
                    "\u5c3c\u65e5\u5229\u4e9a",
                    "\u4e16\u754c",
                    "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                    "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                    "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                    "\u4f4e\u6536\u5165\u56fd\u5bb6"
                ],
                "selected": {
                    "\u4e2d\u56fd": true,
                    "\u5c3c\u65e5\u5229\u4e9a": true,
                    "\u4e16\u754c": true,
                    "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6": true,
                    "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6": true,
                    "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6": true,
                    "\u4f4e\u6536\u5165\u56fd\u5bb6": true
                },
                "show": true
            },
            {
                "data": [
                    "\u4e2d\u56fd",
                    "\u5c3c\u65e5\u5229\u4e9a",
                    "\u4e16\u754c",
                    "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                    "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                    "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                    "\u4f4e\u6536\u5165\u56fd\u5bb6"
                ],
                "selected": {
                    "\u4e2d\u56fd": true,
                    "\u5c3c\u65e5\u5229\u4e9a": true,
                    "\u4e16\u754c": true,
                    "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6": true,
                    "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6": true,
                    "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6": true,
                    "\u4f4e\u6536\u5165\u56fd\u5bb6": true
                },
                "show": true,
                "top": "48%"
            }
        ],
        "tooltip": {
            "show": true,
            "trigger": "item",
            "triggerOn": "mousemove|click",
            "axisPointer": {
                "type": "line"
            },
            "textStyle": {
                "fontSize": 14
            },
            "borderWidth": 0
        },
        "xAxis": [{
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 0,
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": false,
                    "lineStyle": {
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                },
                "data": [
                    "2010",
                    "2011",
                    "2012",
                    "2013",
                    "2014",
                    "2015",
                    "2016"
                ]
            },
            {
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 1,
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": false,
                    "lineStyle": {
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                },
                "data": [
                    "2010",
                    "2011",
                    "2012",
                    "2013",
                    "2014",
                    "2015",
                    "2016"
                ]
            }
        ],
        "yAxis": [{
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 0,
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": false,
                    "lineStyle": {
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                }
            },
            {
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 1,
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": false,
                    "lineStyle": {
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                }
            }
        ],
        "title": [{
                "text": "\u5404\u56fd\u6bcf\u5e74\u4eba\u5747GDP\uff08\u7f8e\u5143\uff09",
                "top": "3.8%"
            },
            {
                "text": "PM2.5\u7a7a\u6c14\u6c61\u67d3\u6307\u6570",
                "top": "52%"
            }
        ],
        "dataZoom": [{
                "show": true,
                "type": "slider",
                "realtime": true,
                "start": 20,
                "end": 80,
                "orient": "horizontal",
                "zoomLock": false
            },
            {
                "show": true,
                "type": "inside",
                "realtime": true,
                "start": 20,
                "end": 80,
                "orient": "horizontal",
                "zoomLock": false
            }
        ],
        "grid": [{
                "bottom": "60%"
            },
            {
                "top": "60%"
            }
        ]
    };
    chart_d5ecf7c10fc24f12b021fec485af234a.setOption(option_d5ecf7c10fc24f12b021fec485af234a);
</script>
{% endblock figure %}

{% block list %}
<select onchange="getTableType(this)">
    <option value="1">API_NY.GDP.PCAP.CD_DS2_en_csv_v2_612482.csv</option>
    <option value="2">PM2.5.csv</option>
</select>
<div class="table-responsive" id="list-1">
    <div style="display:inline-block;margin:10px 5px 10px 0px">
        <select  id="list-1-select" sytle="maigin">
            <option value="line0">全部显示</option>
            {% for list in list_data_1 %}
            <option value="line{{loop.index}}">{{list[0]}}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-primary" onclick="selectRows('list-1')">Go</button>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>国家</th>
                <th>2010</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>2016</th>
            </tr>
        </thead>
        <tbody>
            {% for data in list_data_1 %}
            <tr class="list-1-rows" id="list-1-line{{loop.index}}">
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[5]}}</td>
                <td>{{data[6]}}</td>
                <td>{{data[7]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-responsive" id="list-2" style="display:none;">
    <div style="display:inline-block;margin:10px 5px 10px 0px">
        <select  id="list-2-select" sytle="maigin">
            <option value="line0">全部显示</option>
            {% for list in list_data_2 %}
            <option value="line{{loop.index}}">{{list[0]}}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-primary" onclick="selectRows('list-2')">Go</button>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>国家</th>
                <th>2010</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>2016</th>
            </tr>
        </thead>
        <tbody>
            {% for data in list_data_2 %}
            <tr  class="list-2-rows" id="list-2-line{{loop.index}}">
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[5]}}</td>
                <td>{{data[6]}}</td>
                <td>{{data[7]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock list %}

{% block scripts %}
<script>
    function selectRows(list_id){
        let obj = document.getElementById(list_id+"-select")
        let rows = document.getElementsByClassName(list_id+"-rows")
        if(obj.value == "line0"){
            for(i=0;i<rows.length;i++){
                rows[i].style.display = "";
            }
        }else{
            for(i=0;i<rows.length;i++){
                if(rows[i].id != list_id + "-" +obj.value){
                    rows[i].style.display = "none";
                }else{
                    rows[i].style.display = "";
                }
                
            }
        }
    }
     function getTableType(obj){
        if(obj.value =="1"){
            document.getElementById("list-1").style.display = "";
            document.getElementById("list-2").style.display = "none";
        }
        if(obj.value =="2"){
            document.getElementById("list-1").style.display = "none";
            document.getElementById("list-2").style.display = "";
        }
     }
</script>
{% endblock scripts %}